
body {
  padding: 0px;
  margin: 0px;
  background-color: whitesmoke;
  font-size: 30px;
}

/*
.spider{
    background-image: url("spiderNet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
*/

.title {
  background-color: #cc0000;
  color: white;
  font-size: 40px;
}

#meetArea{
  font-size: 20px;
}


.meetTime{
  font-size: 24px;
}
      

.linkNote a{
  font-size: 24px;
  color: blue;
}
      
      
/*----------------table ----------------*/

table{
  height: 91px;
  border: 1px;
  font-size: 24px;
  text-align: center;
  /* border-collapse: collapse;    無邊框 */
}

caption {
    color:#2F5496;
     font-size: larger;
     margin: 1em auto;
}


tbody {
  color: white;
  background-color: #2F5496;
}

tbody tr:nth-child(odd) {
 
     background: #104080;
 
}

/* 圓形邊框 */
th:first-child {
 
     border-radius: 12px 0 0 0;
 
}
 
th:last-child {
 
     border-radius: 0 12px 0 0;
 
}
 
tr:last-child td:first-child {
 
     border-radius: 0 0 0 12px;
 
}
 
tr:last-child td:last-child {
 
     border-radius: 0 0 12px 0;
 
}


/*----------------table end ----------------*/

      
p {
  font-family: Consolas, sans-serif;
  /* font-size: 36px; */
}

table a{
  color:yellow;
}
      
.fontWhite{
  color: white;
}
      
.fontBlue{
   color: blue;
}

.fontGray{
  color: #CCC;
}

.backBlue{
  background-color: blue;
}


/* 不要顯示出來 */
.dontShow{
    display: none;
}

canvas {
  border:1px solid black;
  position:absolute; 
  top:0px; 
  left:0px; 
  z-index:-1

  /* width:800px; */
  /* height:600px; */
}


